.newsletter {
    background-image: url('../images/footer.svg');
    background-size: cover;
    background-position: bottom;
    color: var(--color-light);
    min-height: 600px;
    margin-bottom: -80px;
}

.info {
    padding-top: 80px;
}
