.menu-item a:hover {
    color: var(--color-secondary);
    text-decoration: none;
}

.btn-primary:hover{
    background-color: var(--color-light);
    color: var(--color-tertiary);
    border: 1px solid var(--color-tertiary);
}

.btn-secondary:hover{
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.btn-outline:hover{
    background-color: var(--color-secondary);
    color: var(--color-light);
}

#mobile-menu {
    border: none;
    outline: none;
}

#mobile-menu::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}
