header {
    border-radius: 100px;
}

.menu-item a:hover {
    color: var(--color-secondary);
    text-decoration: none;
}

.burger-menu {
    .fa-bars {
        color: var(--color-secondary);
    }
}

#mobile-menu::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}
